h2 {
    margin-top: 0;

    &.tonic-example {
        margin-top: 4rem;
    }
}

h3 {
    font-family: sans-serif;
    border-bottom: 1px solid;
    padding-left: 1rem;
    font-weight: 500;
    margin-top: 2rem;
}

#content {
    margin-top: 0;
}

.preact-example {
    & #content {
        margin-top: 1rem;
    }

    & .mobile-nav-list, & .hamburger, & .hamburger-wrapper {
        margin-top: 0;
    }
}

#root-tonic {
    margin-top: 6rem;
}

.example-form {
    max-width: 40rem;
    margin: 0 auto;
}

.pencil {
    margin-top: 4rem;
}

.form-demo {
    margin-top: 6rem;
}
