{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "array-bracket-spacing": ["error", "always", { "singleValue": false }],
    "indent": [ "error", 4, { "ignoredNodes": ["TemplateLiteral *"] } ],
    "operator-linebreak": ["error", "after"]
  }
}
