:root {
    --accordion-transition-time: 0.4s;
    --x-transition-time: 0.2s;
}

details {
    border-bottom: 2px solid;
    padding-block-end: 1rem;
    transition: max-height var(--accordion-transition-time, 0.4s) ease-in-out;

    /* Set a max-height value just enough to show the summary content */
    max-height: 4rem; 
    overflow: hidden; /* Hide the rest of the content */

    &[open] {
        max-height: 800px;

        & svg {
            rotate: 45deg;
        }
    }
}

summary {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    & svg {
        transition: rotate var(--x-transition-time, 0.2s) ease-in-out;
        margin-inline: 0;
    }

    /* for svg */
    & fill {
        color: black;
    }
}