hr.wavy-hr {
    margin: 2em 0;
    border: none;

    &:after {
        background: transparent url(/wave.svg) bottom;
        background-repeat: repeat-x;
        background-size: 26px auto;
        content: " ";
        width: 100%;
        height: 10px;
        display: block;
    }
}
