.input-group-number {
    & input[type=number]::-webkit-inner-spin-button,
    & input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    & input[type=number] {
        appearance: textfield;
        -moz-appearance: textfield;

        width: 45px;
        height: 42px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding-left: 20px;
        border: 1px solid #eee;

        &:focus {
            outline: 0;
        }
    }

    & .number-nav {
        float: left;
        position: relative;
        height: 42px!important;

        & button {
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: initial;
            color: #333;
            border: none;
            background-color: transparent;
            padding: 0;
        }
        
        & .number-button {
            position: relative;
            border-left: 1px solid #eee;
            width: 20px;
            text-align: center;
            color: #333;
            font-size: 13px;
            line-height: 1.7;
            transform: translateX(-100%);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;

            &.number-up {
                position: absolute;
                height: 50%;
                top: 0;
                border-bottom: 1px solid #eee;
            }

            &.number-down {
                position: absolute;
                bottom: -1px;
                height: 50%;
            }
        }
    }
}
