.form-group {
    &.radios {
        display: flex;
        justify-content: space-around;
    }
}

.radio-input {
    --form-control-color: #4281CB;

    margin-right: 1rem;
    cursor: pointer;
    & input {
        cursor: pointer;
    }

    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;

    & input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        display: grid;
        place-content: center;

        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
        }

       &:checked::before {
            appearance: initial;
            transform: scale(1);
        }
    }
}
