.form-stuff {
    .input-group {
        position: relative;
        // margin: 40px 0 20px;
        width: 100%;
        margin: 2rem 0;

        input {
            font-size: 1.2rem;
            padding: 10px 10px 10px 5px;
            display: block;

            // this is a hack to fix the input width
            // don't know why we need this
            width: calc(100% - 1rem);

            border: none;
            border-bottom: 1px solid #757575;

            &:focus {
                outline: none;
                border-bottom: 4px solid #4285f4;
                // filter: drop-shadow(3px 3px 4px black);
            }

            // When input is...
            //   1. NOT empty
            //   2. NOT in focus
            //   3. NOT valid
            &:invalid:not(:focus):not(:placeholder-shown) {
                border-bottom: 4px solid red;
            }
        }

        label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
        }
        
        // this part makes the `label` float
        // input:valid ~ label,
        input:focus ~ label,
        // float when it's not empty
        input:not(:placeholder-shown) ~ label {
            top: -20px;
            font-size: 14px;
            // color: black;
            color: #4285f4;
        }
    }
}
