:root {
    --transition-time: 0.2s;
    --button-outine-color: black;
    --button-primary-outline: #0077ff;
    --button-outine-primary-bg-hover: rgb(0 255 255 / 28%);
    --button-outline-disabled-ol: #0077ff5c;
    --color-primary: #2646cc;
    --text-input-error-border: red;
    --text-input-error-text: red;
    /* --hamburger-color: #FAFAFA; */
    --hamburger-color: black;
    --fade-in-time: 0.2s;
}
